body {
  font-family: 'Josefin', sans;
  background-color: #998DA0;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #63585E;
  font-weight: bold;
}

.navbar {
  background-color: #C7BACE;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #63585E;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar a:hover {
  color: #B36B92;
  color: #B36B92
}

.container {
  padding: 2rem;
}
